@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}


.input-style-login {
	border: 1px solid #cacaca;
	padding: 25px 10px;
	height: 50px;
	margin-top: 1.5rem;
	border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	width: 100% !important;
}
.w-100{
	width: 100%;
}

.icon-style-login {
	border: 1px solid #cacaca;
	border-right: none;
	height: 52px;
	padding: 10px 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	min-width: 2rem;
	margin-top: 1.5rem;
}

.password-show {
	float: right;
	margin-left: -33px;
	margin-top: 37px;
	position: relative;
	z-index: 2;
	cursor: pointer;
}

.sub-button{
	background: #121212;
	width: 100%;
	color: white;
	border-radius: 5px;
	margin-top: 2rem;
	padding: 10px;
}
.link-login{
	background: #121212;
	width: 100%;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	color: white;
}